/* aditional class personal */
.m-top{
    margin-top: 2rem;
  }
  
  .button-cv {
    background:#1d1d1d;
    padding: 1rem;
     cursor: pointer;
  }
  .button-cv a {
    color:#fff !important;
    text-decoration: none !important;
    
  }
  .button-cv:hover{
   background: #673ab7
  }

  .hab-h4{
      color: #333333;
      font-size: 18px ;
      font-family: "Roboto", "Helvetica", sans-serif;
  }

  .socials{
    display: inline;
  }

  @media (min-width: 602px) {
      .dn{
          display: none ;
      }
      .align-items{
          display: flex;
          flex-direction: row;
          align-items: center
      }
  }